#about-div{
    scroll-margin-top: 75px;
    width: 100%;
    background-color: #F5EBE0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-p {
    font-size: 55px;
    font-weight: bold;
    color: #3C3939;
    padding: 0 50px;
}

.vertical-bar {
    height: 75%;
    margin: 0 50px;
    border-radius: 5px;
    border-left: 3px solid #3C3939;
}

#description{
    color: #3C3939;
    font-size: 20px;
    max-width: 70vw;
    margin: 75px 50px 75px 0px;
    border-left: 3px solid #3C3939;
    padding: 75px 50px;
}

.right-about {
    display: flex;
    flex-direction: column;
}


