#projects-div{
    scroll-margin-top: 75px;
    width: 100%;
    background-color: #E3D5CA;
    padding: 40px 0px;
}

.row-div {
    display: flex;
    justify-content: space-evenly;
}

.project {
    padding: 30px;
    background-color: #D5BDAF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    transition: box-shadow 0.1s ease-in-out;
}

.project img {
    max-height: 100px;
    width: auto;
    height: auto;
    padding: 0px;
    margin-right: 20px;
}

.project:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.top-div {
    display: flex;
}

.text-div {
    max-width: 400px;
    font-size: 18px;
}

.top-div {
    margin-bottom: 10px;
}

.bottom-div button {
    background: #3F3B3B;
    color: #fff;
    margin: 10px;
    border-radius: 30px;
    padding: 0px;
}